<div id="indexPage" class="container">
  <div class="row">
    <div class="col-md-6">
        <img src="http://cf.ltkcdn.net/dance/images/std/201360-461x450-dancers.jpg" >
        <img src="http://www.xen-do.com/imgs/player/about/xen-do-about-page-three.jpg" >
        <img src="https://s3-us-west-2.amazonaws.com/ylimages/img/become-a-teacher.jpg" >
      </div>
    </div>
  </div>
