

<form class="form-inline my-2 my-lg-0" method="GET" action="/sessions">
  <select name="category" id="category">
    <option value="" disabled selected>Please choose</option>
    <option value="dance">Dance</option>
    <option value="yoga">Yoga</option>
    <option value="kungfu">Kung Fu</option>
  </select>

  <select name="stars" id="stars">
    <option value="" disabled selected>Please choose</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <select name="address.city" id="category">
    <option value="" disabled selected>Please choose</option>
    <option value="London">London</option>
    <option value="Manchester">Manchester</option>
    <option value="Brighton">Brighton</option>
  </select>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


</form>

<div id="map"> Map</div>
